
.bolsos-en-serio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bolsos-en-serio img {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.contenedor-info {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.contenedor-info div {
  flex: 1;
  text-align: center;
  margin: 10px;
}

/* MUESTRA DE PRODUCTOS */
.productosmuestra {
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

.productomuestra {
  margin: 10px;
  border-radius: 2%;
  margin-top: 50px;
  text-align: center;
  width: 30%;
}

.productomuestra img {
  margin-top: 10px;
  width: 70%;
  height: auto;
  border-radius: 2%;
}

.productomuestra h2 {
  margin-top: 10px;
}

.productomuestra p {
  margin-top: 5px;
}

.botonverproductos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.verproductos {
  width: 100%;
  background-color: rgb(4, 82, 4);
  color: #ffffff;
  padding: 5px 200px;
  border: none;
  border-radius: 1000px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.verproductos:hover {
  background-color: rgb(25, 134, 25);
}

/*Quienes somos?*/

.content img {
  width: 30%;
  border-radius: 10%;
  margin-bottom: 70px;
}

.quienes-somos {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  padding: 20px; }

.presentacion {
  margin-bottom: 20px; 
}

.presentacion img {
  max-width: 200px;
  height: auto; 
  border-radius: 50%; 
  margin-bottom: 10px; 
}

.valores {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-content: stretch; 
  gap: 3px; 
  width: 100%; 
}

.valores li {
  list-style: none;
  border: 1px solid #ccc; 
  padding: 10px; 
  text-align: center; 
  flex-basis: 30%; 
  height: 120px; 
}

/* Estilos para el footer */
footer {
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.footer-container > div {
  flex: 1;
  text-align: center;
  padding: 0 10px;
  max-width: 300px;
}

.redes,
.contacto,
.categorias {
  text-align: center;
}

.redes a {
  margin-right: 10px;
}

.ubicacion p {
  margin: 0;
}

.categoria p {
  margin: 0;
}

/*--------SHOP----------*/

.MContenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product {
  display: inline-block;
  border: 1px solid rgb(202, 201, 201);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #FFFFFF;
  width: 300px;
}

.productos img {
  width: 100%;
}

.productos-info {
  padding: 10px;
}

.productos h2 {
  font-size: 24px;
  margin: 0;
}

.productos p {
  font-size: 16px;
  margin: 10px 0;
  color: black;
}

.productos a.comprar {
  display: flex;
  justify-content: center;
  background-color: rgb(4, 82, 4);
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.productos .comprar:hover {
  background-color: rgb(25, 134, 25);
}

/*------ Estilo para el carrito -----------*/

.modalContent {
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background-color: rgb(195, 195, 195);
  overflow-y: auto;
  display: none;
  border-radius: 7px;
  border: 3px solid rgb(197, 197, 197);
  padding: 20px;
}

.modal-header {
  background-color: #FFFFFF;
  color: rgb(4, 82, 4);
  padding: 17px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.modal-header-titulo {
  margin: 0;
  font-size: 24px;
}

.modal-header-button {
  font-size: 24px;
  cursor: pointer;
  color: rgb(105, 105, 105);
}

.modal-contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
}

.modal-contenido img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 10px;
}

.modal-contenido p,
.modal-contenido h3 {
  margin: 0;
}

.modal-contenido p {
  font-size: 18px;
  color: black;
}

.modal-contenido h3 {
  font-size: 20px;
  color: black;
}

.modal-contenido .eliminar-boton {
  background: #FFFFFF;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-contenido .eliminar-boton:hover {
  background: rgb(4, 82, 4);
  color: #FFFFFF;
}

.cantidad-container {
  display: flex;
  align-items: center;
}

.cantidad-container button {
  background: #FFFFFF;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cantidad-container button:hover {
  background: rgb(4, 82, 4);
  color: #FFFFFF;
}

.cantidad-container input {
  width: 50px;
  text-align: center;
}

.total-compra {
  margin-top: 20px;
  text-align: right;
  font-size: 24px;
}

.finalizarcompra {
  width: 100%;
  background-color: rgb(4, 82, 4);
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.finalizarcompra:hover {
  background: rgb(25, 134, 25);
}
/*--------SHOP----------*/

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 800px) {
  .contenedor-info {
    flex-direction: column;
    align-items: center;
  }

  .contenedor-info div {
    margin: 10px 0;
  }

  .productosmuestra {
    flex-direction: column;
    align-items: center;
  }

  .productomuestra {
    width: 100%;
    margin: 10px 0;
  }

  .content img {
    width: 50%;
  }

  .valores li {
    flex-basis: 100%;
    height: auto;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-container > div {
    max-width: 100%;
  }

  .modalContent {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .verproductos {
    padding: 5px 50px;
  }

  .finalizarcompra {
    font-size: 14px;
    padding: 10px 20px;
  }
}

