/* Estilos para la sección .contenedor-info */

.bolsos-en-serio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

}
.bolsos-en-serio img{
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;

}

.contenedor-info {
    display: flex; /* Usa flexbox para alinear horizontalmente los elementos */
    justify-content: center; /* Distribuye los elementos equitativamente */
    align-items: center; /* Centra verticalmente los elementos */
    flex-wrap: wrap; /* Envuelve los elementos si no caben en una sola fila */
    margin-bottom: 30px;
}

.contenedor-info div {
    flex: 1; /* Hace que los elementos ocupen un espacio igual dentro del contenedor */
    text-align: center; /* Centra el texto horizontalmente */
    margin: 10px; /* Agrega un margen exterior de 10px a cada lado */
}

/* Estilos para la sección .productos */
.productos {
    display: flex;
    justify-content: center;
}

.producto {
    margin-top: 50px;
    text-align: center;
    width: 30%; /* Ajusta el ancho según tu preferencia */
}

.producto img {
    width: 50%; /* La imagen ocupa el 100% del ancho del div */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
    border-radius: 2%;
}

.producto h2 {
    margin-top: 10px; /* Margen superior para separar el título del producto */
}

.producto p {
    margin-top: 5px; /* Margen superior para separar la descripción del título */
}

.producto button {
    margin-top: 10px; /* Margen superior para separar el botón de la descripción */
}

/* Estilos para el footer */
footer {
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-container > div {
    flex: 1;
    text-align: center;
    padding: 0 10px; /* Agrega un poco de espacio alrededor del contenido */
    max-width: 300px; /* Limita el ancho del contenido para que no se extienda demasiado */



}

.redes,.contacto,.categorias {
    text-align: center; /* Centra el texto dentro de cada sección */

}

.redes a {
    margin-right: 10px;
}

.ubicacion p {

    margin: 0;
}

.categoria p {
    margin: 0; /* Elimina el margen predeterminado */
}




/* Hay medidas absolutas y medidas relativas /
/ Normilize css (Lo que deberia de hacer son buenos ejemplos para ver como es) */